.input,
.button {
    font-size: var(--basis);
}

.form {
    padding: 10px;
}

.section {
    min-height: 300px;
    padding: 10px;
    background-color: #ddd;
}

.section:nth-child(even) {
    background-color: #bbb;
}

.hero {

}

.required {}

.label {
    display: block;
}