.section {
    min-height: 300px;
    padding: 10px;
    background-color: #ddd;
}

.section:nth-child(even) {
    background-color: #bbb;
}


.input,
.button {
    font-size: var(--basis);
}

.input {
    width: 100%;
    padding: .5em;
    border-radius: 4px;
}



.form {
    padding: 10px;
}

.form-auth {
    text-align: left;
    max-width: 250px;
    margin: auto;
}

.form-section {
    padding-bottom: 10px;
}

.form-auth-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
}

.form-auth-button {
    position: relative;
    min-width: 80px;
    padding: 5px 15px;
    transition: background-color .5s ease, color 1s linear;
}

.label {
    display: block;
    width: 100%;
    padding: 10px 0;
}